<!-- <p>add-notes works!</p> -->

<h2>Add Notes</h2>

<form #addNotesForm="ngForm" (ngSubmit) = "addNotesFn(addNotesForm)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput name="nTitle" [(ngModel)]="notesModel.title" required>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput name="nDesc" [(ngModel)]="notesModel.description" required ></textarea>
        </mat-form-field>
    </div>
    <div>
        <section>
            <div class="example-button-row">
              <button mat-raised-button type="submit">Add</button>
            </div>
          </section>
    </div>
</form>
  
  